# Configuración de la aplicación
NODE_ENV=development
PORT=3000

# Configuración de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=ltecdeco_db

# Configuración de rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=10
