services:
  postgres:
    container_name: ltecdeco-db
    image: postgres:latest
    environment:
      POSTGRES_DB: ltecdeco
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"

volumes:
  postgres:
